  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới danh mục
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"></a></li>
        <li><a ui-sref="cities">Tỉnh - Thành Phố</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddcity" role="form" ng-submit="Addcity()">
            <div class="box-body">
                <div class="form-group">
                    <label  class="col-sm-2 control-label">Tên Tỉnh</label>
                    <div class="col-sm-10">
                        <!--<span ng-show="frmAddcity.name.$invalid" class="has-error">Phải nhập tên Tỉnh(Thành Phố)</span>-->
                        <!--<span ng-show="frmAddcity.name.$error.maxlength" class="has-error"> Tên tỉnh không quá 256 kí tự</span>-->
                        <input type="text" class="form-control" ng-maxlength="256" required name="name" ng-model="city.Name">
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="cities" class="btn btn-default">Hủy</button>
                <button type="submit" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->