  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cập nhật dịch vụ

    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"></a></li>
        <li><a ui-sref="categories">Quản lý khu vực</a></li>
        <li class="active">Tỉnh</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmEditCity" role="form" ng-submit="EditCity()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tên Tỉnh</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-maxlength="256" required name="name" ng-model="city.Name">
                        <!--<span ng-show="frmAddCategory.Title.$invalid" class="has-error">Phải nhập tên tiêu đề</span>
                        <span ng-show="frmAddCategory.Title.$error.maxlength" class="has-error">Tên tiêu đề chỉ được 256 ký tự</span>-->

                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="cities" class="btn btn-default">Hủy</button>
                <button type="submit" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->