  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Danh Mục Sản Phẩm
        <small>Sản phẩm độc quyền của Trần Quang Phú</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Category</a></li>
        <li class="active">Detail Category</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Danh Mục Sản Phẩm</h3>
            <div class="box-tools pull-right">
                <button class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse"><i class="fa fa-minus"></i></button>
                <button class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <div class="box-body">
            <!--<div ng-controller="AutoCompleteCtrl as ctrl" layout="column" ng-cloak="" class="autocompletedemoBasicUsage" ng-app="MyApp" style="width: 34%;">
                <md-content class="md-padding">
                    <form ng-submit="$event.preventDefault()">
                        <md-autocomplete md-no-cache="false" md-selected-item="ctrl.selectedItem" md-search-text="ctrl.searchText" md-items="item in ctrl.querySearch(ctrl.searchText)" md-item-text="item.display" md-min-length="0" placeholder="Search for products here!.">
                            <md-item-template>
                                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                            </md-item-template>
                            <md-not-found>
                                No matching "{{ctrl.searchText}}" were found.
                            </md-not-found>
                        </md-autocomplete>
                    </form>
                </md-content>
            </div>-->
            <di class="row">
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="keyword" placeholder="Từ khóa">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="search()">Tìm kiếm</button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success" ui-sref="add_categories">Thêm mới</button>
                    <button class="btn btn-danger" ng-click="deleteMultiple()" id="btnDelete" disabled>Xóa</button>
                </div>
            </di>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <td><input name="all" type="checkbox" ng-click="selectAll()" /></td>
                            <th style="width: 3%">ID</th>
                            <th style="width:15%">Tên danh mục</th>
                            <th style="width: 30%">Avatar</th>
                            <th style="width: 20%">Icon</th>
                            <th style="width: 10%">Danh mục sự kiện</th>
                            <th style="width: 10%">Danh mục chính quyền</th>
                            <th style="width: 10%">Trạng Thái</th>
                        </tr>
                        <tr ng-repeat="item in categories">
                            <td><input type="checkbox" ng-model="item.checked" name="all" /></td>
                            <td>{{item.ID}}</td>
                            <td>{{item.Title}}</td>
                            <td>
                                <img src="{{item.Avatar}}" alt="Icon" width="200" height="200" />
                            </td>
                            <td>
                                <img src="{{item.Icon}}" alt="Icon" width="100" height="100" />

                            </td>
                            <td>
                                {{item.Event}}
                            </td>
                            <td>
                                {{item.Government}}
                            </td>
                            <!--class="badge bg-red"-->
                            <td>
                                <span ng-class="{'badge bg-red':item.Status==false,'badge bg-green':item.Status==true}">
                                    {{item.Status | statusFilter}}
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-primary" ui-sref="edit_categories({id:item.ID})"><i class="fa fa-pencil"></i></button>
                                <button class="btn  btn-sm btn-danger" ng-click="deleteCategory(item.ID)"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                        <tfoot>
                            <tr>
                                <td colspan="5">Tổng số bản ghi: {{totalCount}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div><!-- /.box-body -->
        <!--<div class="box-footer">
            <pager-directive page="{{page}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getCategories(page)"></pager-directive>
        </div>-->
        <!-- /.box-footer-->
    </div><!-- /.box -->
</section><!-- /.content -->