  <!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thêm mới danh mục
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li><a href="#"></a></li>
        <li><a ui-sref="categories">Danh mục</a></li>
        <li class="active">Thêm mới</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- Horizontal Form -->
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Thêm mới</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <form class="form-horizontal" novalidate name="frmAddService" role="form" ng-submit="Addservice()">
            <div class="box-body">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Tiêu đề</label>
                    <div class="col-sm-10">
                        <span ng-show="frmAddService.name.$invalid" class="has-error">Phải nhập tên tiêu đề</span>
                        <span ng-show="frmAddService.name.$error.maxlength" class="has-error"> Tên tiêu đề chỉ được 256 ký tự</span>
                        <!--<input type="text" class="form-control" ng-maxlength="256" required name="name" ng-model="service.Title">-->
                        <textarea class="form-control" name="name" ckeditor="ckeditorOptions" ng-maxlength="256" required ng-model="service.Title"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Ảnh đại diện</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="avatar" ng-model="service.Avatar">
                        <button class="btn btn-default" type="button" ng-click="ChooseImageAvatar()">Chọn ảnh</button>
                        <span ng-show="frmAddService.avatar.$error.maxlength" class="has-error">Hình ảnh chỉ được 256 ký tự</span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Ảnh Icon</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="icon" ng-model="service.Icon">
                        <button class="btn btn-default" type="button" ng-click="ChooseImageIcon()">Chọn ảnh</button>
                        <span ng-show="frmAddService.icon.$error.maxlength" class="has-error">Hình ảnh chỉ được 256 ký tự</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Danh mục</label>
                    <div class="col-sm-10">
                        <select name="CategoryID" required class="form-control" ng-model="service.CategoryID" ng-options="option.ID as option.Title for option in category">
                            <option value="">Chọn danh mục</option>
                        </select>
                        <span ng-show="frmAddService.CategoryID.$invalid" class="has-error">Phải chọn danh mục</span>

                        <input type="hidden" name="CategoryID" ng-model="service.CategoryID" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="sowAllCity" ng-model="service.SowAllCity" ng-checked="service.SowAllCity"> Hiển thị trên tất cả thành phố
                            </label>
                        </div>
                    </div>
                </div>
            </div><!-- /.box-body -->
            <div class="box-footer">
                <button ui-sref="services" class="btn btn-default">Hủy</button>
                <button type="submit" class="btn btn-success pull-right">Lưu</button>
            </div><!-- /.box-footer -->
        </form>
    </div><!-- /.box -->
</section><!-- /.content -->